.channel-detail-container {
  width: 30%;
  border-left: 1px solid #e8e8e8;
}

.channel-detail-header {
  font-weight: bold;
  padding: 20px;
  border-bottom: 1px solid #e8e8e8;
  background: #f9f9f9;
  position: relative;
}
