.dm-form-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-search-container {
  padding-top: 35px;
  height: 300px;
  overflow-y: auto;
  min-width: 563px;

}

// .user-search-list {
  // display: flex;
  // border: 1px solid black;
  // width: 100%;
  // flex-wrap: wrap;
  // max-height: 100px;
  // overflow-y: auto;
// }

.selected-users-container {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  line-height: 2rem;
  border: 1px solid #a0a0a2;
  border-radius: 0.25rem;
  min-height: 50px;
  margin-right: 10px;
  }

  .selected-users-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
  }

.user-list-item {
  border-top: 1px solid #e8e8e8;
  padding-left: 10px;
  padding-right: 12px;
  padding-top: 11px;
  padding-bottom: 10px;
  display: flex;
}

.user-list-item:hover {
  cursor: pointer;
  background: #eaf5fc;
  border: 1px solid #cbe7f7;
  border-radius: 6px;
}


.selected-user-list-item {
  display: flex;
  justify-content: space-between;
  position: relative;
  background: #2d9ee0;
  border: 1px solid #2d9ee0;
  color: #fff;
  border-radius: .2rem;
  font-weight: 700;
  font-size: 15px;
  padding: 5px;
  cursor: pointer;
  flex: none;
  margin: 5px;
}

.selected-username {
  font-family: sans-serif;
  font-weight: bold;
  color: #fff;
}

.user-remove {
  padding-left: 5px;
}
