.nav-bar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    height: 65px;
    width: 100%; 
    z-index: 2;
}

.nav-logo {
  position: fixed;
  left: 25px;
  top: 10px;
}

.slap-logo {
  position: fixed;
  background: image-url('slap-logo.png');
  height: 50px;
  width: 50px;
  padding: 10px;
  background-size: 50px 50px;
  background-repeat: no-repeat;
}

.slap-text {
  position: relative;
  left: 60px;
  top: 15px;
  font-family: sans-serif;
  font-size: 25px;
}

// .nav-buttons {
//   display: flex;
//   justify-content: flex-end;
//   align-items: center;
// }
//
// .nav-buttons .button {
//   text-align: center;
//   top: 10px;
//   height: 20px;
//   width: 52px;
//   padding: 5px 10px 5px 10px;
//   margin: 5px;
//   background-color: white;
//   font-size: 14px;
//   text-decoration: none;
//   color: #717274;
//   border: 1px solid black;
//   box-shadow: 0 0 0 0.5px #717274;
//   border-radius: 4px;
// }
