main {
  font-family: 'Noticia Text', serif;
}
.splash-container {
  display: flex;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 50px;
  max-width: 1200px;

}

.splash-image {
  background: image-url('splash-img.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 450px;
  min-width: 500px;
  margin: 5%;
  padding: 30px;
}

.main-info {
  padding-left: 40px;
  width: 400px;
}

.main-info > h1, p {
  width: 500px;
  margin-bottom: 20px;
  color: #323648;
}
.main-info h1 {
  font-size: 4.8rem;
  font-weight: 700;
}

.main-info p {
  font-size: 20px;
}

.demo-btn {
  display: inline-block;
  padding: 19px 30px;
  line-height: 1.2rem;
  background: #3f46ad;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  text-shadow: 0 1px 1px rgba(0,0,0,0.1);
  border: none;
  border-radius: .25rem;
  box-shadow: none;
  transition: 0.2s;
  margin-bottom: 10px;
}

.demo-btn:hover {
  background: #1c299d;
}

.splash-link {
  color: #3f46ad;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px solid #3f46ad;
  transition: all 420ms cubic-bezier(.165,.84,.44,1);
  word-break: break-word;
}


// temporary
.greeting {
  position: relative;
  left: 600px;
}
