.logout {
  background: none;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  margin: 5px;
  cursor: pointer;
}

.logout:hover {
  text-decoration: underline;
}

.channel-sidebar {
  min-width: 220px;
  height: 100%;
  background-color: #4C3A4A;
  color: white;
}

.channel-sidebar-header {
  padding: 16px;
  margin-bottom: 25px;
}

.channel-list {
  display: flex;
  flex-direction: column;
}

.channel-sublist {
  margin-bottom: 25px;
}

.channel-list-item {
  height: 26px;
  line-height: 26px;
  color: #cac4c9;
  padding-left: 16px;
  display: flex;
  justify-content: space-between;
  padding-right: 16px;
}

.channel-list-item:hover {
  background-color: #3E313C;
}

.selected-li {
  background-color: #4C9689;
  color: #fff;
}

.selected-li:hover {
  background-color: #4C9689;
}

.channel-list-item-container {
  display: flex;
  align-items: center;
}

.channel-list-item-icon {
  background: image-url('slap-logo.png');
  height: 20px;
  width: 20px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  padding-left: 5px;
}

.sidebar-label {
  display: flex;
  justify-content: space-between;
  height: 26px;
  cursor: pointer;
  padding-left: 16px;
  padding-right: 16px;
}

.add-button:hover {
  color: rgb(202,196,201);
}

.delete-dm {
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 18px;
}

.delete-dm:hover {
  border: 2px solid #cac4c9;
  border-radius: 50%;
}
